/*---------ROOT/ VARIABLES/FUENTES/GENERALES---------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=PT+Mono&family=Poppins:wght@300;500;600;700&display=swap');

:root{
    --wine: rgb(104,37,55);
    --violet: rgb(167,95,111);
    --gray:rgb(153,153,153);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*----------HEADER/NAV--------------*/
.menu {
    background-color: rgba(53, 31, 11, 0.241);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgb(0, 0, 0);
    position: fixed;
}

.menu .logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 26px;
    color:white;
    font-size: 40px;
    padding: 0 80px;
    font-weight: 900;
}

.menu .menu_list img{
    width: 30px;
}

.menu .menu_list{
    display: flex;
    list-style: none;
    margin-right: 30px;
    align-items: center;
    height: 0;
}

.menu .menu_list li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu .menu_list li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu .menu_list li a:hover{
    transition: 1s;
    color: var(--violet);
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}

.btn_menu img {
    width: 30px;
}

ul.show{
    top: 65px;
}

/*----------------------MAIN----------------*/

/*-------HERO--------*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.501),rgba(0, 0, 0, 0.515)) ,url(../assets/images/banner3.jpeg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2{
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: white;
    border: white solid 2px;
    padding: 20px;
}

.hero p {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.hero a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 60px;
    margin-top: 50px ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hero a:hover{
    transition: 1s;
    background-color: var(--violet);
}




































@media screen and (max-width: 952px ){
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_list li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_list{
        position: fixed;
        width: 100vw;
        /* height: calc(100% - 65px); */
        background-color: black;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_list li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_list li:hover{
        background: none;
    }
    .menu_list li a{
        font-size: 20px;
        font-weight: bold;
    }
    .menu_list li a:hover{
        color: red;
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape){
.menu_list li{
    margin: 5px 0 0 0;
}
.menu_list{
    overflow: scroll;
    /* height: calc(100% - 65px);*/
}

}

@media screen and (max-width: 372px){
    .menu .logo{
        padding: 0 35px;
    } 
}