/*---------ROOT/ VARIABLES/FUENTES/GENERALES---------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=PT+Mono&family=Poppins:wght@300;500;600;700&display=swap');

:root {
    --wine: rgb(104, 37, 55);
    --violet: rgb(167, 95, 111);
    --gray: rgb(153, 153, 153);
    --black: rgb(51, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

/*----------HEADER/NAV--------------*/
.menu {
    background-color: rgba(34, 20, 7, 0.433);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgb(0, 0, 0);
    position: absolute;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 26px;
    color: white;
    font-size: 40px;
    padding: 0 80px;
    font-weight: 900;
}

.menu .menu_list li a i {
    font-size: 25px;
}

.menu .menu_list {
    display: flex;
    list-style: none;
    margin-right: 30px;
    align-items: center;
    height: 0;
}

.menu .menu_list li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu .menu_list li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu .menu_list li a:hover {
    transition: 0.5s;
    color: var(--violet);
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}

.btn_menu img {
    width: 30px;
}

ul.show {
    top: 65px;
}

/*----------------------MAIN----------------*/

/*-------HERO--------*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.515)), url(../assets/images/banner.jpeg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2 {
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: white;
    border: white solid 2px;
    padding: 20px;
}

.hero p {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}

.hero a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 60px;
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hero a:hover {
    transition: 1s;
    background-color: var(--violet);
}

/*-------HISTORY--------*/
.history {
    margin: 50px 150px 50px 150px;

}

.history>div {
    display: flex;
    align-items: center;
}

.history div .history__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.history div .history__container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 30px;
}

.history div .history__container h2 span {
    font-family: 'PT Mono', monospace;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    color: var(--wine);
}

.history div .history__container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray);

}

.history div .history__container p {
    font-weight: 400;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    color: var(--gray);
    margin-top: 60px;
}

.history div .history__img {
    display: flex;
    flex-direction: row;
}

.history img {
    width: 300px;
    height: 500px;
    padding: 10px;
}

/*----------Viennoiserie------*/
.viennoiserie {
    background: linear-gradient(rgba(7, 7, 7, 0.467), rgba(255, 255, 255, 0.152)), url(../assets/images/banner2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viennoiserie div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viennoiserie h3 {
    color: white;
    font-size: 35px;
    line-height: 44px;
    font-weight: 300;
    margin: 50px;
}

.viennoiserie p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 26px;
    color: white;
}

/*--------Especialties------*/
.specialties h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 30px;
    text-align: center;
    margin-top: 100px;
}

.specialties h3 span {
    font-family: 'PT Mono', monospace;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    color: var(--wine);
}

.specialties p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray);
    text-align: center;
}

.specialties div {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.specialties div ul {
    list-style: none;
    margin-left: 30px;
}

.specialties div ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

.specialties div ul li:hover {
    transition: 0.5s;
    background-color: var(--violet);
    color: #fff;
    cursor: pointer;
}

/*--------GALERY --------*/

.galery__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.div-imagen {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.304);
    display: flex;
}

.div-imagen img {
    width: 300px;
    height: 200px;
}

.div-imagen>div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-imagen>div h3 {
    font-family: 'PT Mono', monospace;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--wine);
}

.div-imagen img:hover {
    opacity: 0.3;
    transition: opacity 500ms;
}

/*---------CONTACT FORM-----------*/

.contact h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 30px;
    text-align: center;
    margin-top: 100px;
}

.contact h3 span {
    font-family: 'PT Mono', monospace;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    color: var(--wine);
}

.contact p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray);
    text-align: center;
}

/*-------MAP--------*/
.map{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.map div {
    width: 30%;
    height: 700px;
    background-color:  var(--wine);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map div i{
    color: white;
    font-size: 100px;
    margin: 15px;
}

.map div h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: white;
    text-transform: uppercase;
    margin: 15px;
}

.map div p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

/*---------FORM----------*/
textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.wrap {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
}


#section h2 {
    margin-bottom: 50px;
    position: relative;
    display: block;
}

#section p a {
    color: var(--wine);
    text-decoration: none;
}

#section .wrap {
    text-align: center;
    width: 100%;
}

#section .box {
    text-align: center;
    margin: 5% 0 0 0;
    width: 100%;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
}

.contact-form .input-block {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--violet);
    margin: 0;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
    height: auto;
}

.contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}

.contact-form .input-block label {
    position: absolute;
    left: 10px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    color: #aaa;
    font-size: 18px;
    line-height: 10px;
}

.contact-form .input-block .form-control {
    background-color: transparent;
    margin: 0;
    outline: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 30px 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333;
}

.contact-form .input-block .form-control:focus label {
    top: 0;
}

.contact-form .square-button {
    background-color: var(--violet);
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
    background-color: var(--wine);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

/*---------CONTAC US--------*/

.contactUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--wine);
    height: 150px;
    padding: 40px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;

}

.contactUs  div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactUs div .icon {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 10px;
}

.contactUs div .icon i {
    color: var(--wine);
    font-size: 30px;
}

.contactUs div .text {
    flex-direction: column;
}


/*-----FIXED / SCROLL -----*/
.fixed {
    position: fixed;
    right: 3%;
    bottom: 5%;
    height: 200px;
    width: 200px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px #00000069;
    border-radius: 240px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fixed img {
    width: 40px;
}


.fixed h5 {
    color: #8d5262;
    line-height: 110%;
    margin-bottom: 0;
    font-weight: bold;
}

.fixed p {
    color: #000;
    line-height: 120%;
    margin-bottom: 0;
}

.scroll {
    position: fixed;
    width: 50px;
    height: 40px;
    background: #6825379c;
    color: #fff;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.scroll:active {
    transition: all 0.3s
}

/*-------------FOOTER-----------*/

.footer{
    background-color: #000;
    color: white;
}

.footer .footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .redes div div {
    display: flex;
    justify-content: center;
}

.footer div h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
}

.footer div div ul li {
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
}

.footer .redes div div i{
    color: white;
    margin: 20px;
    font-size: 30px;
}

.footer .redes div div i:hover{
    transition: 0.5s;
    color: var(--violet);
}

.logoContainer{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer div {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: solid var(--wine);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span {
    color: var(--violet);
}
/*--------MEDIA QUERIES---------*/
@media all and (max-width: 1180px) {
    .wrap {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@media (min-width: 768px) {
    .contact-wrap {
        margin: auto;
    }
}

@media (max-width: 868px) {
    .contact-form {
        width: 100%;
        padding: 40px;
    }
}

@media (max-width: 568px) {
    .contact-form {
        padding: 10px;
    }
}